# FORMAT
# Put your extra requirements here in the following format
#
# package[version_required]: tag1, tag2, ...
# Reference: https://hanxiao.io/2019/11/07/A-Better-Practice-for-Managing-extras-require-Dependencies-in-Python/

nose: tests
sshtunnel>=0.1.5: database
pymysql>=0.9.3: database
sshtunnel>=0.1.5: database
SQLAlchemy>=1.4.15: database
awscli>=1.19.50: aws
matplotlib>=3.0.0: visual
seaborn>=0.11.2: visual
mkdocstrings>=0.15.0: docs
mkdocs-material>=0.4.4: docs
mkdocs-autorefs>=0.1.1: docs